@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
  url("../fonts/PTSans.woff2") format("woff2"), 
  url("../fonts/PTSans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PTSans-Bold.woff2"), url("../fonts/PTSans-Bold.woff");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 }
/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-cloudy-blue: #81B3D2;
  --basic-light-grey: #EEEEEE;
  --basic-brown: #766357;
  --basic-grey: #F2F2F2;
  --basic-black: #333333;
  --basic-black-true: #000;

  --special-black-transparent: rgba(0, 0, 0, 0.3);
  --special-white-transparent: rgba(255, 255, 255, 0.3);
  --special-brown-hover: #604E43;
  --special-brown-active: #503E33;
  --special-blue-hover: #669EC0;
  --special-blue-active: #5496BD;
  --special-grey-border: #E5E5E5;
  --special-grey-hover: #EBEBEB;
  --special-checkbox-disabled: #6A6A6A;
}

/* Global */
body {
  min-width: 1200;
  padding: 0px;
  margin: 0px auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
}

/* Rest */

.page-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 15px;
}

.header-logo__img {
  width: 138px;
  height: 70px;
}

.nav__list {
  list-style: none;
}

.nav__link {
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.nav__link:visited {
  color: var(--basic-brown);
}

.nav__link:hover {
  color: var(--basic-cloudy-blue);
}

.nav__link:active,
.nav__item--current a {
  color: var(--special-black-transparent);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.welcome__post img{
  background-color: var(--basic-brown);
}

.welcome__post-img {
  width: 457px;
  height: 351px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome,
.advantages,
.hotel-search {
  text-align: center;
}

.title {
  padding: 0;

  font-family:"PT Sans", "Arial", sans-serif;
  font-weight: 700;

  color: inherit;
}

.title--unique {
  font-size: 30px;
  line-height: 24px;
}

.title--form {
  font-size: 16px;
  line-height: 21px;
}

.advantages {
  margin-bottom: 0px;
}

.advantages h2{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 43px;
}

.advantages p {
  line-height: 26px;
  margin-bottom: 51px;
}

.advantages__title {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
}

.advantages__title ~ p {
  line-height: 26px;
}

.advantages__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 256px 330px 256px 256px;
}

.advantages__list:last-child {
  margin: 0 auto;
}

.advantages__item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advantages__item-img {
  width: 800px;
  height: 256px;
}

.advantages__item--highlight {
  background-color: var(--basic-cloudy-blue);
}

.advantages__item--light-shadow {
  background-color: var(--basic-light-grey);
}

.advantages__item--left {
  display: grid;
  grid-area: 1/1/2/-1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "content image image";
}

advantages__item__description-wrapper {
  grid-area: content;
  padding: 0 10px;
}

.advantages__item--left img {
  grid-area: image;
}

.advantages__item--right {
  display: grid;
  grid-area: 3/1/4/-1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  'image image content';
}

.advantages__item--right img {
  grid-area: image;
}

.advantages__item--highlight h3 {
  color: var(--basic-white);
}

.advantages__item--highlight p {
  color: var(--basic-white);
}

.advantages__item__description-wrapper {
  margin: 0 auto;
  padding: 0;
}

.list-shady {
  background-color: var(--basic-light-grey);
}

.hotel-search {
  margin: 0 auto;
  height: 291px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.hotel-search__title {
  padding-top: 58px;
  margin: 0; 
  height: 81px;
}

.hotel-search__content {
  margin: 0 auto;
  padding-top: 24px;
  flex-grow: 1;
}

.button {
  padding: 0px;
  font: inherit;
  font-weight: 700;
  /* text-align: center;
  vertical-align: middle; */
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

.hotel-search__button-initialization {
  font-size: 21px;
  line-height: 26px;
  padding-top: 30px;
  height: 81px;
  width: 568px;
}

.hotel-search__button-initialization,
.apartments-result__button--book {
  background-color: var(--basic-brown);
}

.hotel-search__button-initialization:hover,
.apartments-result__button--book:hover {
  background-color: var(--special-brown-hover);
} 

.hotel-search__button-initialization:active,
.apartments-result__button--book:active {
  background-color: var(--special-brown-active);
  color: var(--special-white-transparent);
} 

.page-footer {
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.page-footer-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0 auto;
}

.page-footer__phone-wrapper {
  margin: 0;
  justify-self: center;
}

.page-footer h2, 
.page-footer a {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black-true);
}

.page-footer__list {
  list-style: none;
}

.button-social:hover,
.modal-search-form__button:hover,
.apartments-result__button--more-info:hover {
  background-color: var(--special-blue-hover);
} 

.button-social:active,
.modal-search-form__button:active,
.apartments-result__button--more-info:active {
  background-color: var(--special-blue-active);
  color: var(--special-white-transparent);
} 

.cite-design:hover path {
  fill: var(--basic-cloudy-blue);
}

.cite-design:active path {
  fill: var(--special-black-transparent);
}

.modal-search-container {
  width: 568px;
  height: 395px;
}

.modal-search-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px 30px;
  padding: 55px;
}

.apartment {
  line-height: 26px;
  font-weight: 700;
}

.apartment label {
  grid-column: 1/2;
}

.apartment input {
  grid-column: 2/3;
}

.apartment__list {
  list-style: none;
  grid-column: 1/3;
  padding: 0;
  margin: 0;
  
  display: flex;
  justify-content: space-between;
}

.apartment__input {
  font: inherit;
  background-color: var(--basic-grey);
  border: none;
  text-transform: uppercase;
  padding-left: 13px;
}

.apartment__item-number {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.count-participants__adult {
  margin-right: 50px;
}

.apartment__item-number .apartment__input {
  width: 40px;
}

.count-participants__children {
  margin-right: 27px;
}

.apartment__button {
  width: 35px;
}

.modal-search-form__button {
  height: 58px;
  grid-column: 1/3;
}

.apartment__input:hover {
  background-color: var(--special-grey-hover);
}

.apartment__input:focus {
  outline: none;
  background-color: var(--basic-white);
  box-shadow: inset 0 0 0 2px var(--special-grey-border);
}

.count-participants__input {
  text-align: center;
}

.modal-search-form__button,
.apartments-result__button--more-info {
  background-color: var(--basic-cloudy-blue);
}

/* catalog file */

.apartment-filter__form {
  display: flex;
  padding: 30px 70px;
}

.filter-form {
  color: var(--basic-white);
  background-color: var(--basic-cloudy-blue);
}

.filter-form-group {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-infrastructure,
.filter-residence {
  margin-right: 120px;
}

.filter-form-group__title {
  margin-bottom: 25px;
}

.filter-form-group__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-form-group__item {
  margin-bottom: 25px;
}

.filter-form-group__list:last-child {
  margin-bottom: 0;
}

.filter-form__group legend{
  font-weight: 700;
  font-size: 16px;  
}

.price-adjustment-container {
  margin-left: auto;
}

.filter-results-button {
  font-weight: 400;
  background-color: transparent;
  border: solid 2px var(--basic-white);

  width: 137px;
  height: 36px;
}

/* Catalog sorting */

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px 73px;
}

.apartments-sorting-result {
  min-width: 135px;
  margin: 0;
  margin-right: 25px;
}

.apartments-sorting__title {
  margin: 0;
  margin-right: 40px;
}

.apartments-sorting__type {
  display: flex;
  flex-wrap: wrap;
}

.apartments-sorting__type-button {
  margin-right: 20px;
  background: none;
}

.apartments-sorting__order {
  margin-left: auto;
  display: flex;
}

.apartments-sorting__order-button {
  margin: 0;
  background: none;
}

.apartments-sorting__order-button.small-to-big {
  margin-right: 15px;
}

.sorting-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.apartments-sorting__item {
  margin-right: 30px;
}

.apartment-available b{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.apartments-sorting__type-button {
  color: var(--special-black-transparent);
  border-style: none none dotted none;
  border-color: var(--basic-cloudy-blue);
  border-width: 1px;
}

.sorting-selected.apartments-sorting__type-button {
  color: var(--basic-cloudy-blue);
  border-width: none;
  border-style: none;
  border-color: none;
}

.apartments-sorting__type-button:hover {
  color: var(--basic-cloudy-blue);
  border-style: none none dotted none;
  border-color: var(--basic-cloudy-blue);
  border-width: 1px;
}

.apartments-sorting__type-button:active {
  color: var(--basic-black-true);
  border-width: none;
  border-style: none;
  border-color: none;
}

.pyramid__arrow {
  display: inline-block;
  font-size: 0;
}

.pyramid__arrow::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 0px;
  height: 0px;
  border: 10px solid var(--special-black-transparent);
  border-right-width: 5px;
  border-left-width: 5px;
  border-left-color: transparent;
  border-right-color: transparent;
}

.small-to-big::before {
  border-top-width: 0px;
}

.big-to-small::before {
  border-bottom-width: 0px;
}

.pyramid__arrow:hover::before {
  border-bottom-color: var(--basic-black-true);
  border-top-color: var(--basic-black-true);
}

.pyramid__arrow:active::before,
.sorting-selected.apartments-sorting__order-button::before {
  border-bottom-color: var(--basic-cloudy-blue);
  border-top-color: var(--basic-cloudy-blue);
}

/* Catalog card results */

.apartments-result {
  margin-bottom: 30px;
}

.apartments-result__list {
  list-style: none;
  margin: 0 73px;
}

.item-catalog-container {
  display: grid;
  grid-template-columns: 136px 25px 764px 127px;
  grid-template-rows: 90px;
  grid-template-areas: 'apart-pic . apart-details apart-rating';
  margin: 0 auto 30px auto;
}

.item-catalog-container:last-child {
  margin-bottom: 0;
}

.item-catalog-container.apartments-result__link {
  grid-area: apart-pic;
}

.description-result-wrapper {
  grid-area: apart-details;
  display: grid;
  grid-template-columns: 110px 5px 142px auto;
  grid-template-areas: 
  'result-link result-link result-link result-link '
  'result-type .           result-price .          '
  'btn-more    .           btn-book     .          ';
}

.description-result__link {
  margin-bottom: 7px;
  grid-area: result-link;
}

.description-result__hostel-type {
  margin: 0;
  margin-bottom: 15px;
  grid-area: result-type;
}

.description-result__price-range {
  margin: 0;
  margin-bottom: 15px;
  grid-area: result-price;
}

.apartments-result__button--more-info {
  margin: 0;
  grid-area: btn-more;
}

.apartments-result__button--book {
  margin: 0;
  grid-area: btn-book;
}

.apartments-result__rating-wrapper {
  grid-area: apart-rating;
}

.apartments-result__rating-wrapper {
  display: grid;
  grid-template-rows: 33px 36px 1fr;
}

.apartments-result__value {
  grid-row: 3/4;
}

.apartments-result__button{
  font-size: 14px;
  line-height: 21px;
}

.description-result__link h2{
  line-height: 26px;
  color: var(--basic-black-true);
  margin: 0;
}

.description-result__link h2:hover{
  color: var(--basic-cloudy-blue);
}

.description-result__link h2:active{
  line-height: 26px;
  color: var(--special-black-transparent);
}

.apartments-result__value {
  background-color: var(--basic-grey);
}